{{ define "main" }}
<article class="prose dark:prose-invert mx-auto">
  {{ with .Params.cover }}
    <figure class="mb-6">
      <img src="{{ . | relURL }}" alt="{{ $.Title }}" class="w-full rounded-xl" loading="lazy" />
    </figure>
  {{ end }}

  <h1 class="flex items-center gap-2">
    {{ with .Params.icon }}
      {{ if hasPrefix . "images/" }}
        <img src="{{ . | relURL }}" class="w-8 h-8" alt="icon" loading="lazy" />
      {{ else }}
        <span class="text-3xl">{{ . }}</span>
      {{ end }}
    {{ end }}
    {{ .Title }}
  </h1>

  <p class="text-sm opacity-70 mb-8">{{ .Date.Format "02 January 2006" }} · {{ .ReadingTime }} min</p>

  {{ .Content }}

  {{ if site.Params.article.showAuthor }}
    {{ partial "article/author.html" . }}
  {{ end }}

  {{ if site.Params.article.showRelated }}
    {{ partial "related.html" . }}
  {{ end }}

  {{ partial "article/pagination.html" . }}

</article>
{{ end }}
