<div class="article-footer">
<div class="max-w-3xl mx-auto px-4">
{{- $related := first 5 (site.RegularPages.Related .) -}}
{{- if gt (len $related) 0 -}}
<section class="mt-12">
  <h2 class="font-semibold mb-6">{{ i18n "related" | default "Related" }}</h2>
  <ul class="space-y-4">
    {{ range $related }}
      <li>
        <a href="{{ .RelPermalink }}" class="text-primary-600 hover:underline">
          {{ .Title }}
        </a>
        <span class="text-sm opacity-70 ml-2">{{ .Date.Format "02 January 2006" }}</span>
      </li>
    {{ end }}
  </ul>
</section>
{{- end -}}
</div>
</div>
